<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{768,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{768,324}}</string>
                <key>sourceSize</key>
                <string>{768,370}</string>
            </dict>
            <key>set_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1102},{640,805}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,805}}</string>
                <key>sourceSize</key>
                <string>{640,805}</string>
            </dict>
            <key>set_bk_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,619},{336,481}}</string>
                <key>offset</key>
                <string>{-70,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,59},{336,481}}</string>
                <key>sourceSize</key>
                <string>{640,805}</string>
            </dict>
            <key>set_bk_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{422,481}}</string>
                <key>offset</key>
                <string>{-62,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,59},{422,481}}</string>
                <key>sourceSize</key>
                <string>{640,805}</string>
            </dict>
            <key>set_bk_tw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{336,479}}</string>
                <key>offset</key>
                <string>{-69,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,61},{336,479}}</string>
                <key>sourceSize</key>
                <string>{640,805}</string>
            </dict>
            <key>set_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>set_btn_close_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,165},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>set_btn_close_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>set_btn_cn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,166},{256,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,80}}</string>
                <key>sourceSize</key>
                <string>{256,80}</string>
            </dict>
            <key>set_btn_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,84},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>set_btn_level_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,84},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>set_btn_level_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,83},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>set_btn_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>set_btn_open_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>set_btn_open_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>set_btn_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,84},{256,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,80}}</string>
                <key>sourceSize</key>
                <string>{256,80}</string>
            </dict>
            <key>set_btn_tw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,84},{256,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,80}}</string>
                <key>sourceSize</key>
                <string>{256,80}</string>
            </dict>
            <key>set_btn_tw_tw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{256,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,80}}</string>
                <key>sourceSize</key>
                <string>{256,80}</string>
            </dict>
            <key>set_btn_vertical.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>set_btn_vertical_cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>set_btn_vertical_tw.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>tab0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,166},{97,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,113}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>tab0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,166},{108,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,125}}</string>
                <key>sourceSize</key>
                <string>{108,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>index.pvr.ccz</string>
            <key>size</key>
            <string>{1068,1909}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89e070d9123f4aedcb90e01226e96fdc:0baba7f706eb2e5f37db6166984f7651:75f4360e993e9307ea4af2a7f89296a3$</string>
            <key>textureFileName</key>
            <string>index.pvr.ccz</string>
        </dict>
    </dict>
</plist>
